.image1 {
    margin-right: 50px;
}
.image2 {
    margin-right: 10px;
}
.image3 {
    margin-right: 10px;
}
.image4 {
    margin-right: 10px;
}
.image5 {
    margin-right: 10px;
}
.image6 {
    width:732px;
    height: 338px;
}